@import "./../../style/var.scss";

.btn {
    display: block;
    width: 310px;
    height: 60px;
    line-height: 54px;
    font-size: 20px;
    background-color: $blue;
    border: solid 1px $blue;
    border-radius: 6px;
    color: $white;
    transition: .4s linear;
    margin: 0 auto 30px;
    cursor: pointer;

    &:disabled {
        opacity: .6;
    }
    &:hover {
        color: $blue;
        background-color: $white;
    }

    & > a {
        text-decoration: none;
        color: inherit;
    }
}
