    <div class="input__password">
        <input class="input" type={{ inputType }} id={{ inputId }} name={{ inputName }} placeholder={{ placeHolderText }} />
        <div alt="Посмотреть пароль" class="input__eye">&#128065;</div>
    </div>
    