    <div class="input__password">
        <input type="password" id="password" name={{ name }} placeholder={{ placeHolderText }} class="input"  />
        <div title="Посмотреть пароль" class="input__eye input__password_view"></div>
    </div>
    