@import "./../../style/var.scss";
.input {
    display: flex;
    user-select: none;
    width: 310px;
    height: 60px;
    border: solid 1px $grey808080;
    border-radius: 6px;
    margin: 0 auto 45px;
    padding: 0 20px;

}

.input__password {
    width: 310px;
    margin: 0 auto;
    position: relative;
}

.input__eye {
    display: flex;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 20px;
}

