@import "./../../style/var.scss";
.input {
    display: flex;
    user-select: none;
    width: 310px;
    height: 60px;
    border: solid 1px $grey808080;
    border-radius: 6px;
    margin: 0 auto 45px;
    padding: 0 20px;
}

.input__password {
    position: relative;
}

.input__eye {
    display: flex;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 18px;
    right: 0;
    width: 20px;
    height: 20px;
}

.input__password_view {
    background-image: url('../../../static/picts/icons/eye.png');
}

.input__password_hide {
        background-image: url('../../../static/picts/icons/hide-eye.png');
}
