@import "./../../style/var.scss";
.ava__img {
    border-radius: 50%;
}
.ava {
    display: flex;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    margin: 0 auto 50px;
    cursor: pointer;
    transition: .4s linear;
    border: solid 1px $grey1;
    &:hover > .ava__text {
        opacity: 1;
    }
    &:hover {
        opacity: .8;
    }
}
.ava__text {
    position: relative;
    display: flex;
    margin: auto;
    width: 100%;
    right:75%;
    opacity: 0;
    transition: .4s linear;
    text-shadow: 1px 1px 10px $white, 0 0 10px $white, 0 0 10px $white;
}

.ava_small {
    object-fit: cover;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 0 auto 50px;
    border: solid 1px $grey1;
}
