<div class={{ class }}>
    <img  class={{ class }} src={{ src }} alt={{ alt }}>
    <input class="ava__input" type="file" title="Сменить аватар"/>
    <span class="ava__text">Сменить аватар</span>
</div>
