<div class="chat__card">
    <div class="chat__card-ava"></div>
    <div class="chat__card-center-block">
        <div class="chat__card-name">Гомер</div>
        <div class="chat__card-text">М-м-м-м... пончики</div>
    </div>
    <div class="chat__card-right-block">
        <div class="chat__card-time">20.02.2023</div>
        <div class="chat__card-queu">2</div>
        <span class="chat__card-trash" title="Удалить чат">&#128465;</span>
    </div>
</div>