@import "./../../style/var.scss";

* {
    box-sizing: border-box;
}

.chat {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background-color: $grey05;
}

.chat__list {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $grey2;
    height: 100vh;
    padding: 16px;
}

.chat__link {
    width: 100%;
    display: flex;
    font-size: 12px;
    color: $grey5;
    justify-content: flex-end;
    margin: 12px auto;
    transition: .4s linear;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        transform: scale(1.02);
    }
}

.chat__search {
    position: relative;
    width: 100%;
}

.chat__search-lense {
    position: absolute;
    right: 16px;
    top: 10px;
    opacity: .5;
}

.chat__search-input {
    width: 100%;
    display: flex;
    user-select: none;
    padding: 0 30px 0 14px;
    height: 36px;
    border: solid 1px $grey808080;
    background-color: $grey1;
    border-radius: 6px;
    font-size: 14px;
    line-height: 36px;

    &:focus {
        outline: 0;
    }
}

.chat__cards {
    overflow-y: auto;
    padding-top: 12px;
    height: calc(100vh - 100px);
    padding-right: 6px;

    &::-webkit-scrollbar {
        width: 7px;
        height: 0;
        right: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: $grey6;
        border: 1px solid #fff;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $grey4;
    }

    &::-webkit-scrollbar-thumb:active {
        background: $grey6;
    }

    &::-webkit-scrollbar-track {
        background: $grey1;
        border: 5px none;
        border-radius: 2px;
    }
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main__header {
    display: flex;
    flex-direction: row;
    padding: 16px;
    width: 100%;
    height: 100px;
    border-bottom: solid 1px $grey2;
    position: relative;
}

.main__ava {
    margin-right: 30px;
}

.main__name {
    font-size: 22px;
    font-weight: 700;
}

.main__menu {
    font-size: 20px;
    margin: 20px 0 0 auto;
    cursor: pointer;
}

.main__chat {
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 7px;
        height: 0;
        right: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: $grey6;
        border: 1px solid $white;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $grey4;
    }

    &::-webkit-scrollbar-thumb:active {
        background: $grey6;
    }

    &::-webkit-scrollbar-track {
        background: $grey1;
        border: 5px none;
        border-radius: 2px;
    }
}

.main__footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-top: solid 1px $grey2;
    height: 74px;
    margin-top: auto;
    padding: 16px;
}

.main__add-file {
    width: 40px;
    text-align: center;
    font-size: 22px;
    transform: rotate(45deg);
    cursor: pointer;
    margin-right: 12px;
}

.main__input-text {
    height: 30px;
    outline: none;
    padding: 0 16px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 6px;
    border: solid 1px $grey1;
    width: 100%;
    background-color: transparent;
}

.main__input-container {
    width: 100%;
}

.main__send {
    margin: 4px 6px 0 12px;
    cursor: pointer;
}

.main__footer-container {
    display: flex;
    width: 100%;
    border: solid 1px $grey1;
    border-radius: 6px;
    background-color: $grey1;
    padding: 6px 0;
}

.chat__links-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
